body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
}
body{
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
    overflow-x: hidden;
}
input,textarea,select{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
}
a{
    color: #222;
    text-decoration: none;
    outline: 0;
}
#page {
    background: #fff;
}

.page-min-width {
    min-width: 1024px;
}
#page .head-box{
    position: relative;
    background-color: #333;

}
#page .head-box .banner-background{
    background-image: url('../images/banner-background.jpg');
    opacity: 1;
    background-position: center 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 200ms ease-in-out;
    /*background: #fff url() 0 0 no-repeat;*/
}
#page .head-box .mask{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
}
#page .head-box .new-banner{
    position: relative;
    margin: 0 auto;
    height: 520px;
    overflow: hidden;
}
#page .head-box .new-banner .title{
    margin: 118px auto 40px;
    width: 540px;
    height: 54px;
    line-height: 54px;
    color: #fff;
    font-family: "sy-sans";
    font-size: 44px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
    -webkit-font-smoothing: antialiased;
}
.new-banner .search-box{
    text-align: center;
}
.new-banner .new-searching-unit{
    display: inline-block;
    position: relative;
}
.new-banner .new-searching-unit input{
    margin: 0 auto;
    padding: 0 10px;
    width: 536px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.95);
    border-radius: 2px;
    background-color: rgba(255,255,255,.95);
    color: #444;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.07), 0 1px 3px 0 rgba(0,0,0,.02), 0 0 0 1px rgba(0,0,0,.1);
    box-sizing: border-box;
}
.new-banner .new-searching-unit .go{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url('../images/icon_search.svg') 9px 9px no-repeat;
    cursor: pointer;
}
.new-banner .search-hint{
    margin-top: 0;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.07), 0 1px 3px 0 rgba(0,0,0,.02);
}
.search-hint{
    position: absolute;
    box-sizing: border-box;
    font-size: 16px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    z-index: 999999999999;
}
.new-banner .hot-words{
    margin-top: 10px;
    color: rgba(255,255,255,.7);
    text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
}
.new-banner .hot-words>a{
    display: inline-block;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
}
.new-banner .author{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: right;
}
.wrapper-996{
    width: 1500px;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    border: 0;
}
.new-banner .author span{
    color: #fff;
}
.new-banner .author a{
    color: rgba(255,255,255,.85);
}
